In [1]:
import numpy as np
import pandas as pd
import json
import datetime as dt

In [2]:
data = []
#with gzip.open('C:/Users/fef/OneDrive - Ultranav/DTU/Semester 4/02806 - Social data analysis & visualization/Project/data/endomondoHR.json.gz') as f:
with open('C:/Users/faraz/OneDrive - Ultranav/DTU/Semester 4/02806 - Social data analysis & visualization/Project/data/endomondoHR_proper.json') as f:
    for l in f:
        data.append(eval(l))

In [4]:
# append all data list to a single list
appended_data = []
for i in range(167783):
    appended_data.append(pd.DataFrame(data[i]))
# make a dataset based on multiple lists
appended_data = pd.concat(appended_data)

In [6]:
# choose the column needed for data analysis
appended_data1 = appended_data[['longitude','latitude','sport','heart_rate','gender','timestamp','userId']].reset_index(drop=True)

In [7]:
# make datetime column based on timestamp
appended_data1['datetime'] = pd.to_datetime(appended_data1['timestamp'],unit='s')
# Convert datetime column to pandas datetime
appended_data1['datetime'] = pd.to_datetime(appended_data1['datetime'])
# make a date column based on datetime
appended_data1['date'] = appended_data1['datetime'].dt.date
# convert date colun to string
appended_data1['date'] = appended_data1['date'].astype(str)

In [9]:
# convert userId column to string
appended_data1['userId'] = appended_data1['userId'].astype(str)

In [10]:
# sort dataset based on datetime column
appended_data2= appended_data1.sort_values(by='datetime')

In [12]:
# show dataset
appended_data2

,longitude,latitude,sport,heart_rate,gender,timestamp,userId,datetime,date
233500,-3.882906,40.369413,run,89,male,1143392301,3905196,2006-03-26 16:58:21,2006-03-26
233501,-3.882887,40.369316,run,92,male,1143392305,3905196,2006-03-26 16:58:25,2006-03-26
233502,-3.882869,40.369259,run,98,male,1143392307,3905196,2006-03-26 16:58:27,2006-03-26
233503,-3.882859,40.369224,run,98,male,1143392308,3905196,2006-03-26 16:58:28,2006-03-26
233504,-3.882817,40.369133,run,107,male,1143392311,3905196,2006-03-26 16:58:31,2006-03-26
...,...,...,...,...,...,...,...,...,...
22638098,30.300063,59.871534,run,134,male,1555118334,13619220,2019-04-13 01:18:54,2019-04-13
22638099,30.300063,59.871534,run,135,male,1555118340,13619220,2019-04-13 01:19:00,2019-04-13
22638100,30.300063,59.871534,run,135,male,1555118347,13619220,2019-04-13 01:19:07,2019-04-13
22638101,30.300063,59.871534,run,136,male,1555118353,13619220,2019-04-13 01:19:13,2019-04-13
22638102,30.300063,59.871534,run,138,male,1555118359,13619220,2019-04-13 01:19:19,2019-04-13

In [13]:
# save dataset to local drive
appended_data2.to_csv('C:/Users/faraz/OneDrive - Ultranav/DTU/Semester 4/02806 - Social data analysis & visualization/Project/data/data_prepare1.csv')